.store-vessel {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  margin-top: 150px;
}

.store-vess {
  display: flex;
  padding: 82px 0px 0px 82px;
}

.hip {
    position: relative;
    z-index: 10;
}

.app-store-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.app-store {
  color: #303030;
  font-family: 'Clash Grotesk';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: 0.48px;
  width: 507px;
}
.app-store-tiny {
  color: #757575;
  font-family: "Clash Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.18px;
  width: 507px;
}
.store-btn {
  display: flex;
  gap: 20px;
}
.store-mamaket2-btn{
    display: flex;
    padding: 30px 0px;
}
.store-btn button {
  display: flex;
  width: 170px;
  height: 56px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: rgb(16, 16, 16);
  color: #f9f9f9;
}
.store-mamaket-btn {
  display: flex;
  padding: 20.648px 41.296px;
  align-items: flex-start;
  gap: 6.453px;
  border-radius: 19422.066px;
  background: #208573;
  border: none;
}

@media screen and (max-width:768px) {
  
  .store-vess {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 0px 0px 0px;
  }

  .app-store {
    font-size: 20px;
    font-weight: 250;
    line-height: 105%;
    letter-spacing: 0.48px;
    width: 230px;
  }
  .app-store-right{
    align-items: center;
  }
  .app-store-tiny {
    font-size: 18px;
    font-weight: 200;
    line-height: 150%;
    width: 240px;
  }
  .app-store-right {
    padding-top: 20px;
  }
}
