.footer-general{
    display: flex;
    justify-content: space-between;
    background: black;
    color: #fff;
    height: 11rem;
    position: relative;
    padding: 82px 60px 0px 82px;
}

.powered{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: 'Clash Grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    letter-spacing: 0.18px;
}
.social-media-handle{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
@media screen and (max-width:768px) {
    .footer-general{
        flex-direction: column;
        padding: 0px
    }
    .footer-logo1{
        display: flex;
        justify-content: center;
    }
    
    .powered{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
        letter-spacing: 0.18px;
    }
    .social-media-handle{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        gap: 0px;
    }
}